.form {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

.form-category {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #0000006c;
}

.store-information {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    appearance: none;
    background-image: url("../img/location-arrow-solid.svg");
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: right 12px center;
}

.store {
    top: 20px;
}

.fa-solid {
    color: rgba(0, 0, 0, 0.294);
}

.search {
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}