
.user {
    width: 100%;
}

.my_page {
    display: flex;
}

.user-name{
    text-align: center;
    margin: 0;
    padding-top: 70px;
}

.reservation {
    width: 30%;
    margin: 0 30px;
}
@media screen and (max-width: 768px) {
    .reservation {
        margin: 0;
        padding-left: 10px;
    }
}

.reservation-content {
    background-color: rgba(0, 71, 250, 0.803);
    border-radius: 5px;
    box-shadow: 3px 3px 3px #0000006c;
    padding: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .reservation-content {
        font-size: 10px;
        padding: 5px;
    }
}
.user-reservation {

}

.reservation-item {
    
    
}



.reservation-title {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.reservation-number {
    width: 70%;
}

.delete-button {
    border: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.reservation-all {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .reservation-all {
        font-size: 8px;
    }
}

.reservation-category {
    color: #fff;
    margin: 10px 0;
}

.reservation-category__title {
    text-align: left;
    width: 50%;
    padding: 15px 0;
}

.edit {
    text-align: center;
}

.edit-button {
    color: rgba(0, 71, 250, 0.803);
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.store {
    width: 70%;
}

.favorite-store__list {
    display: flex;
    flex-wrap: wrap;
}

.favorite-store__content {
    background-color: #fff;
    width: 40%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #0000006c;
    margin: 0 20px 20px;
}
@media screen and (max-width: 768px) {
    .favorite-store__content {
        width: 100%;
    }
}

.store-img {
    
}

.store-img__item {
    width: 100%;
}

.store-content {
    padding: 20px;
}

.store-name {
    margin: 0;
}

.store-location {
    font-size: 10px;
    display: inline-block;
}

.store-category {
    font-size: 10px;
    display: inline-block;
}

.favorite-store__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-content__category {
    width: 120%;
    font-size: 12px;
    color: #fff;
    background-color: rgba(26, 53, 253, 0.842);
    border-radius: 5px;
    border: none;
}

.fa-solid.fa-heart {
    color: red;
    font-size: 20px;
}

